/*
	*	Module Name: Price & Order
	*	Module URI: Please contact with https://addons.prestashop.com/en/contact-form.php
	*	Description: A Price Quoting Module for Demanded Orders
	*	Version: 0.1.9.3
	*	Author: MEG Venture
	*
	*	Copyright 2012, MEG Venture (https://addons.prestashop.com/en/contact-form.php)
	*
	*	This program is not a free software: you can't redistribute it and/or modify
	*	it. All rights reserved to Caglar Utku GULER
	*
	*
	*	This copyright notice  and licence should be retained in all modules based on this framework.
	*	This does not affect your rights to assert copyright over your own original work.
	*/

.block-priceandorder {
	box-shadow: 2px 2px 11px 0 rgba(0,0,0,.1);
    background: #fff;
    padding: 1.5625rem 1.25rem;
    margin-bottom: 1.5625rem;
    font-size: .875rem;
}
@media (max-width: 768px) {
	#priceandorder_hidden_footer {
		display: block;
	}
}
@media (min-width: 768px) {
	#priceandorder_hidden_footer {
		display: none;
	}
}
#footer_priceandorder_gif{
	text-align:center;
}
sup {
	color:#F00;
	}
.pricebutton {
	margin-top:10px;
}
#urg1, #urg2 {
	width:10%; float:none;margin-top:5px;
}
/* priceandorder module form style */