@charset "utf-8";
/* CSS Document */

/*--- styles ---*/
.line_po {
	text-align: justify;
	padding-bottom: 15px;
}
.line_po_center {
	text-align: center;
	padding-bottom: 15px;
}
.line_po_center1 {
	text-align: center;
	padding-bottom: 5px;
}